@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
.aboutme {
    &__wrapper {
        grid-template-columns: 400px 520px;
        column-gap: 40px;
    }
    &__skills {
        column-gap: 20px;
        grid-template: repeat(2, minmax(115px, auto))/repeat(2,250px);
        &-item {
            grid-template-columns: 40px 195px;
            column-gap: 15px;
        }
    }
}
    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        line-height: 39px;
        &__fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &__fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 10px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }

    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
}
